<div class="content">
  <h4 class="title">{{ post.title }}</h4>

  <p class="excerpt">{{ post.lead_text }}</p>

  {% if post.project_link != empty %}
  <a href="{{ post.project_link }}" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-{{post.button_icon}} fa-lg"></i>{{post.button_text}}</button></a>
  {% endif %}

{% if post.youtube_link != empty %}
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; margin: 0 auto;">
    <iframe src="https://www.youtube.com/embed/{{post.youtube_link}}"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>
{% endif %}



  {% if post.tags != empty %}
  <div class="tags">
    {% for tag in post.tags %}
    <span>{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}


  <!-- {% if post.categories != empty %}
  <div class="categories">
    {% for category in post.categories %}
      <span>{{ category }}</span>
    {% endfor %}
  </div>
  {% endif %} -->
</div>
